.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.logo img {
  width: 100px;
  margin-bottom: 1.5rem;
}

.login-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.login-form,
.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 1rem;
}

.input-group {
  margin-bottom: 1rem;
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.divider {
  height: 250px;
  background-color: #ccc;
}

.register-section {
  text-align: center;
}
